<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsAQAAAABRBrPYAAABX0lEQVR4Xu3QUXIDIQwDUN+Mq3Ok3iC1JNPuMniTz05HJktAfv4hXp/UV+zJscy2MtvKbCuzrf4+m8EaeRozxuThkpo1DEcQCHYRrNSsZ9kDwTn4wgkvqdkjWzuV2cfsxSzvEZcxs54tjN8L3yU1axmeM9LcV6VmHfupiZTbvcxu6e15B/Z8VWF+XGYty476yLMPOXADhzM7Ml0FX3rc6leZHRlb1JeRzDBAbNYxxAN6YscUgebNOiY12KpBYWmzM1uNMdFiJ2d+B82ODE2EIuixz3vAmZ0ZjnBkmtIKKrOOTVxL8xiY0G7Ws5Xxg2McGjdrGeHqcQeuyOyRRbUSrisCs5atmgpJATBAaHZk6ymTIWYXN2GzlvGCXQrNuqll1rB6zgHGKxJm6Ju9YYl0QlYN/Js9M7Yi2MK/JsxaVhhLLc4lN3tieEnmMAU5rYPZmb0ts63MtjLbymyr/8C+AYJPMN56dtHRAAAAAElFTkSuQmCC" alt="QR Code">


</body>
</html>